---
import json from "data/me.json";
import Marquee from "components/organisms/Marquee.astro";
---

<main>
  <Marquee
    items={[
      { text: "First Name - Last Name -", direction: "forward" },
      { text: "First Name - Last Name -", direction: "reverse" },
    ]}
  />
</main>
