---
import Section from "components/atoms/Section.astro";
import DirectionalTexts from "components/organisms/DirectionalTexts.astro";

type DirectionalTextProps = Parameters<typeof DirectionalTexts>[0];

const items: DirectionalTextProps["items"] = [
  {
    text: "love the beach",
    speed: -10,
    styles: "rotate-16",
  },
  {
    text: "runescape got me into coding",
    speed: -26,
    styles: "rotate-9",
    delay: 1.6,
  },
  {
    text: "appreciate good cinema",
    speed: 32,
    styles: "rotate-3",
    delay: 1,
  },
  {
    text: "thinkpads are cool",
    speed: -16,
    styles: "-rotate-16",
  },
  {
    text: "drifing into liminal spaces",
    speed: 30,
    styles: "-rotate-45",
  },
  {
    text: "spikeball is life",
    speed: 10,
    delay: 0.2,
    styles: "-rotate-2",
  },
  {
    text: "trying and trying",
    speed: 45,
    delay: 0.2,
    styles: "rotate-16",
  },
];
---

<Section className="bg-gray h-screen-1.5">
  <DirectionalTexts identifier="directional-quotes" items={items} />
</Section>
