---
import Section from "components/atoms/Section.astro";
import Typography from "components/atoms/Typography.astro";
import Arrows from "components/molecules/Arrows.astro";
---

<Section isContentCentered>
  <Typography type="3xl">Reinny Almonte</Typography>

  <div class="flex flex-col items-center gap-y-4">
    <Typography type="p" className="lowercase text-gray">
      scroll down
    </Typography>

    <Arrows />
  </div>
</Section>
