---
import Section from "components/atoms/Section.astro";
import DirectionalQuotes from "components/templates/DirectionalQuotes.astro";
---

<Section className="bg-gray h-screen" hasHorizontalPadding hasVerticalPadding>
  <DirectionalQuotes />
</Section>
