---
import Layout from "layouts/Layout.astro";
import Header from "views/Header.astro";
import Content from "views/Content.astro";
import Footer from "views/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col gap-y-4 justify-between">
    <Header />
    <Content />
    <Footer />
  </div>
</Layout>
