---
import cx from "classnames";
import { CLASSES } from "constants/classes";

export interface Props {
  className?: string;
  hasHorizontalPadding?: boolean;
  hasVerticalPadding?: boolean;
  isContentCentered?: boolean;
  hasParallaxImages?: boolean;
  hasRotatingImages?: boolean;
  hasPinnedContent?: boolean;
}

const {
  className,
  hasHorizontalPadding = false,
  hasVerticalPadding = false,
  isContentCentered = false,
  hasParallaxImages = false,
  hasRotatingImages = false,
  hasPinnedContent = false,
} = Astro.props;

const styles = cx(className, "min-h-screen", {
  "px-6 lg:px-24": hasHorizontalPadding,
  "py-6 lg:py-16": hasVerticalPadding,
  "grid place-items-center": isContentCentered,
  [CLASSES.section.withPinnedContent]: hasPinnedContent,
  [CLASSES.section.withParallaxImages]: hasParallaxImages,
  [CLASSES.section.withRotatingImages]: hasRotatingImages,
  "z-10 perspective-lg": hasRotatingImages,
});
---

<section data-scroll-section class={styles}>
  <slot />
</section>>
