---
import Typography from "components/atoms/Typography.astro";
import cx from "classnames";
import { CLASSES } from "constants/classes";

export interface Props {
  rate?: number;
  repeatText?: number;
  direction?: "forward" | "reverse";
  className?: string;
}

const {
  repeatText = 5,
  rate = 200,
  direction = "forward",
  className,
} = Astro.props;

const placeholders = new Array(repeatText).fill(undefined);

const containerStyles = cx(
  CLASSES.marquee.container,
  "w-full overflow-hidden whitespace-nowrap",
  className
);

const railStyles = cx(
  CLASSES.marquee.rail,
  "inline-flex min-w-full flex-unset text-hidden gap-x-4"
);
---

<div class={containerStyles} data-direction={direction} data-rate={rate}>
  <div class={cx(CLASSES.marquee.track, "flex")}>
    <div class={railStyles} aria-hidden="true">
      {
        placeholders.map(() => (
          <Typography type="3xl" className="uppercase inline-block">
            <slot />
          </Typography>
        ))
      }
    </div>
  </div>
</div>
