---
import Typography from "components/atoms/Typography.astro";
import cx from "classnames";
import { CLASSES } from "constants/classes";

interface Marquee {
  text: string;
  direction: "forward" | "reverse";
}

export interface Props {
  items: Marquee[];
  rate?: number;
  repeatText?: number;
}

const { items, repeatText = 3 } = Astro.props;

const textPlaceholder = new Array(repeatText).fill(undefined);
---

<div
  class={cx(
    CLASSES.marquee.container,
    "w-full overflow-hidden whitespace-nowrap"
  )}
>
  {
    items.map(({ text, direction }) => (
      <div class={cx(CLASSES.marquee.track, "flex")}>
        <div
          class={cx(
            CLASSES.marquee.rail,
            "inline-flex min-w-full flex-unset text-hidden gap-x-4"
          )}
          aria-hidden="true"
          data-direction={direction}
        >
          {textPlaceholder.map(() => (
            <Typography type="3xl" className="uppercase inline-block">
              {text}
            </Typography>
          ))}
        </div>
      </div>
    ))
  }
</div>
