<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Reinny Almonte</title>
  </head>
  <body>
    <div>
      <slot />
    </div>

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
        color: black;
      }

      html,
      body {
        height: 100%;
        width: 100%;
      }
    </style>
  </body>

  <script src="../animations/use-animations.ts"></script>
</html>
