---
import cx from "classnames";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const className = cx(
  "h-full w-full px-6 py-8",
  "flex justify-center",
  "child:h-full child:max-w-2xl child:w-full"
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class={className}>
      <slot />
    </div>

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }

      html,
      body {
        height: 100%;
        width: 100%;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
