---
import "normalize.css";
import "styles/global.css";
import "styles/fonts.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Reinny Almonte</title>
  </head>
  <body>
    <slot />

    <script src="../animations/use-animations.ts"></script>
  </body>
</html>
